*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo{
  background-color: steelblue;
  display: grid;
}

.encabezado > .maintitle{
  margin: 0 auto;
  font-size: 45px;
  text-align: center;
}

.navegador{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.navlink{
    margin: 0 auto;
    color: white;
}

.cuerpoprincipal{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menuinput{
  display: none;
}

.menulabel{
  display: none;
}

.menu{
  width: 10%;
  border-right: 1px solid black;
}

.menu .menuetiqueta{
  display: flex;
}

.articles{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

article{
  position: relative;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 30%;
}

article > .pfp{
  border: 1px solid black;
  width: 50%;
}

article > .name::before{
  content: 'Un nombre';
  font-size: 40px;
}

article > .title::before{
  content: 'Un título';
  font-size: 35px;
}

article > .inst::before{
  content: 'Una institución';
  font-size: 30px;
  font-weight: bold;
}

@media print{
  .encabezado, .menuinput, .menulabel, .menu{
    display: none;
  }
}

@media (max-width: 992px){
  .cuerpo{
    background-color: slateblue;
  }

  .menulabel{
    display: flex;
    width: 20%;
    font-size: 40px;
  }

  .menu{
    display: none;
  }

  .menuinput:checked ~ .menu{
    display: flex;
    width: 85%;
    padding-left: 2px;
    border: 1px solid black;
    background-color: rgb(205, 90, 106);
    z-index: 1;
  }

  .articles{
    width: 100%;
    z-index: 0;
  }

  article{
    width: 75%;
  }
}