*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: white;
}

.cuerpo{
  background-color: rgba(70, 131, 180, 1);
  display: grid;
}

.encabezado > .maintitle{
  margin: 0 auto;
  font-size: 45px;
  text-align: center;
}

.cuerpoprincipal{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menuinput{
  display: none;
}

.menulabel{
  display: none;
}

.menu{
  width: 10%;
  border-right: 1px solid black;
  background-image: url(../imagenes/goku_normal.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu .menuetiqueta{
  display: flex;
}

article{
  margin: 5px;
  padding: 5px;
}

article > h2{
  font-size: 40px;
}

article > p{
  font-size: 35px;
}

.articles{
  width: 85%;
  z-index: 1;
}

@media (max-width: 992px){
  .cuerpo{
    background-color: slateblue;
  }

  .menulabel{
    display: flex;
    width: 20%;
    font-size: 40px;
  }

  .menu{
    display: none;
    background-image: url(../imagenes/vegeta_normal.webp);
  }

  .menuinput:checked ~ .menu{
    display: flex;
    width: 85%;
    padding-left: 2px;
    border: 1px solid black;
    background-color: rgb(205, 90, 106);
    z-index: 1;
  }

  article > h2{
    font-size: 35px;
  }

  article > p{
    font-size: 30px;
  }

  .articles{
    width: 85%;
    z-index: 0;
  }
}