*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo{
  background-color: slateblue;
  display: grid;
}

.encabezado > .maintitle{
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
}

.navegador{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.navlink{
    margin: 0 auto;
    color: white;
}

.cuerpoprincipal{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menuinput{
  display: none;
}

.menulabel{
    width: 20%;
    font-size: 40px;
}

.menu{
  display: none;
}

.menu .menuetiqueta{
  display: flex;
}

.menuinput:checked ~ .menu{
  display: flex;
  width: 85%;
  padding-left: 2px;
  border: 1px solid black;
  background-color: rgb(205, 90, 106);
  z-index: 1;
}

article{
  margin: 5px;
  padding: 5px;
}

article > h2{
  font-size: 35px;
}

article > p{
  font-size: 30px;
}

.articles{
  width: 85%;
}

@media (min-width: 992px){
  .cuerpo{
    background-color: steelblue;
  }

  .menulabel{
    display: none;
  }

  .menu{
    display: flex;
    width: 10%;
    border-right: 1px solid black;
  }

  article > h2{
    font-size: 40px;
  }

  article > p{
    font-size: 35px;
  }

  .articles{
    width: 85%;
    z-index: 0;
  }
}